body{
    width: 1400px;
    margin:auto;
    font-family: 'Lato', sans-serif;
}

header{
    display : flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
}

header img{
    border : 0px;
}

.main_input{
    width:98%;
    height:2rem;
    font-size:150%;
    background-color: lightgray;
    border:none;
    margin:auto;
    padding:8px;
}
.magnify{
    max-width:2%;
    font-size: 150%;
    background-color: lightgray;
    border:none;
    margin-left:-2.2rem;
}

.flex_row{
    display : flex;
    flex-direction: row;
    justify-content: flex-start;
    gap:30px;
}
.flex_row div{
    margin:10px;
    padding:10px;
}

.color_s{
    background-color: #3282F7;
    color:white;
    padding:2px;
    border-radius: 2px;
    margin-top:5px;
}
.color_u{
    background-color: #ED6454;
    color:white;
    padding:2px;
    border-radius: 2px;
    margin-top:5px;
}
.color_a{
    background-color: #68D9A4;
    color:white;
    padding:2px;
    border-radius: 2px;
    margin-top:5px;
}

.card_grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap : 20px;
}
.card_img{
    height:250px;
    width:100%;
    margin:5px auto 0px auto;
    background-color:#C7BEBE;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.card_content{
    display : flex;
    flex-direction: column;
}
.title_row{
    height:60px;
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 170%;
    background-color: #E7E7E7;
    padding:15px;
    padding-bottom:0px;
}
.card_time{
    font-weight:800;
    white-space: nowrap;
}

.content_row{
    height:190px;
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    gap:10px;
    background-color: #E7E7E7;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.inner_left{
    width:50%;
    padding:0px 5px 10px 10px;
}
li {
    list-style-type: none;
}
li span{
    font-weight: 800;
}

.inner_right{
    width:50%;
    padding:0px 5px 10px 10px;
    margin-top:10px;
}